.titletext1 {
  color: #036D83;
  font-size: 20px;
}

.First-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  background-color: white;
  flex-wrap: wrap; /* 추가: 작은 화면에서의 반응형 레이아웃 */
}

.picture1 {
  height: auto;
  width: 100%;
  max-width: 300px;
  padding: 5px;
}

.text-container1 {
  max-width: 100%;
  padding: 20px;
  text-align: left;
  flex: 1;
}

.titletext2 {
  color: #53415E;
  font-size: 20px;
}

.text-container2 {
  max-width: 100%;
  padding: 20px;
  text-align: center;
  flex: 1;
}

