.titletext1 {
  color: #036D83;
  font-size: 20px;
}

.First-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  background-color: white;
  flex-wrap: wrap; /* 추가: 작은 화면에서의 반응형 레이아웃 */
}

.picture1 {
  height: auto;
  width: 100%;
  max-width: 300px;
  padding: 5px;
}

.text-container1 {
  max-width: 100%;
  padding: 20px;
  text-align: left;
  flex: 1;
}

.titletext2 {
  color: #53415E;
  font-size: 20px;
}

.text-container2 {
  max-width: 100%;
  padding: 20px;
  text-align: center;
  flex: 1;
}

.Maintext {
  color: black;
  font-size: 3vw;
  font-weight: bold;
}

.Subtext {
  max-width: 100%;
  color: black;
  font-size: 1.5vw;
}

.Second-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f6feff;
}

.picture2 {
  height: auto;
  width: 100%;
  max-width: 600px;
  padding: 15px;
}

.Third-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  background-color: #fefaff;
  flex-wrap: wrap; /* 추가: 작은 화면에서의 반응형 레이아웃 */
}

.text-container3 {
  max-width: 100%;
  padding: 20px;
  text-align: right;
  flex: 1;
}

.picture3 {
  height: auto;
  width: 100%;
  max-width: 900px;
  padding: 15px;
}

.picture1, .picture2, .picture3 {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.titletext3 {
  color: #AA1439;
  font-size: 20px;
}

.text-container4 {
  max-width: 100%;
  padding: 20px;
  text-align: left;
  flex: 1;
}

.Fourth-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  background-color: #FEEDF1;
  flex-wrap: wrap; /* 추가: 작은 화면에서의 반응형 레이아웃 */
}

.picture4 {
  height: auto;
  width: 100%;
  max-width: 750px;
  padding: 15px;
}

.titletext4 {
  color: #FAAC04;
  font-size: 20px;
}

.text-container5 {
  max-width: 100%;
  padding: 20px;
  text-align: center;
  flex: 1;
}

.Fifth-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 150px;
  background-color: #FFFDF8;
}

.Subtext2 {
  color: black;
  font-size: 1.5vw;
  font-weight: bold;
}

.custom-col {
  font-size: 1.5vw;
  text-align: left;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .Maintext {
    font-size: 5vw;
  }

  .Subtext {
    font-size: 3vw;
  }

  .Subtext2 {
    font-size: 3vw;
  }

  .custom-col {
    font-size: 3vw;
  }
}
