/* Footer.css */

.footer-container {
    background-color: #f8f9fa; /* 배경 색상 */
    padding: 0px 0; /* 패딩 */
    border-top: 1px solid #dee2e6; /* 테두리 */
    width: auto;
    height: 1px;
  }
  
  .logo-container {
    display: flex;
    justify-content: left;
    padding-bottom: 1px;
    width: auto;
    height: 30px;
  }
  

  
  .info-text {
    font-size: 14px; /* 텍스트 크기 */
    color: #6c757d; /* 텍스트 색상 */
  }
  
  .info-text p {
    margin-bottom: 0.5rem; /* 문단 여백 */
  }
  
  @media (min-width: 768px) {
    .logo-container {
      justify-content: flex-start;
      padding-bottom: 0;
        width: auto;
        height: 50px;
    }
  }
  