/* Menu.css */
.bg-container {
  position: relative;
  background-color: #f4f7f9;
  padding-bottom: 1000px;
}

.wallpaper-container {
  position: relative;
  height: 870px;
}

.wallpaper-img {
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.main-text {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0C5A89;
  font-size: 55px;
  font-weight: bold;
  text-shadow: 1px 1px 3px #000;
}

.sub-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0C5A89;
  font-size: 25px;
  text-shadow: 1px 1px 3px #000;
}

.start-button {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: #0C5A89;
  font-size: 30px;
  padding: 10px 60px;
  border: 1px solid #0C5A89;
  border-radius: 7px;
}

.cd-img {
  position: absolute;
  right: 55%;
  bottom: 10%;
  opacity: 1;
  width: 700px;
  height: auto;
}

.cd-text {
  position: absolute;
  right: 30%;
  bottom: 20%;
  transform: translateX(50%);
  color: #0C5A89;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 1px 1px 3px #000;
}

.more-info-link {
  position: absolute;
  right: 36%;
  bottom: 17%;
  transform: translateX(50%);
  color: #523E5A;
  font-size: 25px;
  text-shadow: 1px 1px 3px #000;
}

.link-reverse-color-more {
  color: #0C5A89;
  text-decoration: none;
}

/* 응답형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .main-text, .cd-text {
      font-size: 40px; /* 폰트 크기 조정 */
  }

  .sub-text, .more-info-link {
      font-size: 20px; /* 폰트 크기 조정 */
  }

  .start-button {
      font-size: 20px;
      padding: 5px 30px;
  }

  .wallpaper-container {
      height: auto; /* 높이 자동 조정 */
  }
}