.navbar-custom {
  transition: top 0.3s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5);
}

.navbar-custom.hide {
  top: -80px; /* Navbar height */
}

.navbar-custom.show {
  top: 0;
}

.nav-link-hover-aboutus,
.nav-link-hover-product,
.nav-link-hover-support {
  margin-right: 0; /* Remove previous margin */
  white-space: nowrap; /* Prevent line breaks */
  overflow: visible; /* Show overflowing content */
  text-overflow: ellipsis; /* Show ellipsis for overflowing text */
  color: black; /* Default text color */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Ensure inline-block display for proper alignment */
  text-align: right; /* Right-align the text */
  width: 100%; /* Ensure full width */
}

.nav-link-hover-aboutus:hover {
  color: #f4defa !important; /* Change the color as desired */
}

.nav-link-hover-product:hover {
  color: #f7afc1 !important; /* Change the color as desired */
}

.nav-link-hover-support:hover {
  color: rgb(255, 255, 147) !important; /* Change the color as desired */
}

.btn-reverse-color:hover {
  background-color: #0C5A89 !important; /* 호버 시 배경색 */
  color: rgba(255, 255, 255, 0.575) !important; /* 호버 시 글자색 */
}

.link-reverse-color-more:hover {
  color: #523E5A !important;
}

@media (max-width: 991px) {
  .navbar-nav .nav-link {
    font-size: 16px; /* 모바일 화면에서의 글자 크기 조정 */
    font-weight: normal; /* 모바일 화면에서의 글자 두께 조정 */
  }
}

.nav-link-hover-notification,
.nav-link-hover-aboutus,
.nav-link-hover-product,
.nav-link-hover-support {
  margin-right: 80px; /* 오른쪽 마진 추가 */
  white-space: nowrap; /* Prevent line breaks */
  overflow: visible; /* Hide content that overflows */
  text-overflow: ellipsis; /* Show ellipsis for overflowing text */
}
