.notificationContainer {
    background-color: rgb(255, 255, 255);
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 61px); /* 네비게이션 바의 높이만큼 뺀 화면 전체 높이 */
    width: 100%;
    margin-top: 56px; /* 네비게이션 바의 높이만큼 위쪽 마진 추가 */
  }
  
  .text-container {
    text-align: center; /* 내용 가운데 정렬 */
    max-width: 900px; /* 텍스트 컨테이너의 최대 너비 설정 */
  }
  
  .Maintext {
    font-size: 60px;
  }