.online-support-page{
    background-color: #fde5eb; /* 배경색상 변경 */
    height: calc(100vh - 61px);
}

.white-border{
    border-color: #fde5eb; /* 배경색상 변경 */
}

.border.rounded.p-4.mb-4.red-border {
    background-color: white; /* 박스의 배경색을 흰색으로 설정 */
    padding: 1rem; /* 내부 간격을 1rem으로 설정 (p-4 클래스에 해당) */
    margin-bottom: 1rem; /* 아래쪽 마진을 1rem으로 설정 (mb-4 클래스에 해당) */
  }

.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
}
  
.stepContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
  
.display{
    color: #e90817; /* 제목 글자색 */
    font-weight: bold; /* 제목 글자 두께 */
}

.red-border {
    border-color: rgb(187, 25, 25) !important;
}