@font-face{
  font-family: "NanumSquare";
  font-weight: normal;
  src: url("./NanumSquare.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: 'NanumSquare';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New'
    monospace;
}
